$warning_color = #FBE3E4
$ok_color      = #E6EFC2

#footer
  color: white

#top
  table.ip_addresses
    margin-bottom: 0

    td.ip
      text-align: right
  
  .history
    ins
      background-color: $ok_color
      text-decoration: none
    del
      background-color: $warning_color
      text-decoration: none

    dl
      margin: 0
    dt
      font-weight: bold
    dd
      margin-left: 0
      padding-bottom: 0.3em
