%tr
  %td== #{distance_of_time_in_words_to_now version.created_at} ago
  %td= version.whodunnit
  %td== #{version.event} #{version.item_type.humanize}
  %td
    %dl.diff
      = render 'versions/attribute_diff', :values => display_difference_to_newer(version, object)
  %td
    %dl.values
      = render 'versions/resulting_attributes', :values => difference_to_newer(version, object)