- content_for :title, 'Asset'

%table
  %tr
    %td
      Name
    %td
      = @asset.name
  %tr
    %td
      Hostname
    %td
      = @asset.fqdn
  %tr
    %td
      Role
    %td
      = @asset.role
  %tr
    %td
      OS
    %td
      = render @asset.operating_system
  %tr
    %td
      Customer
    %td
      = render @asset.customer
  %tr
    %td
      IP Addresses
    %td
      %table.ip_addresses
        %tr
          %th Type
          %th IP
          %th FQDN
        = render @asset.ip_addresses


= render 'versions/latest_history', :object => @asset
