#sidebar
  %ul.nav
    %li
      %a.headitem.item1 Assets
      %ul.opened
        %li
          %a{ :href => assets_path } List
    %li
      %a.headitem.item2 Admin
      %ul
        %li
          %a{ :href => rails_admin_dashboard_path } Access
