!!!html
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %title
      - if content_for?(:title)
        = yield(:title)
        |
      Confine
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults, 'jquery.wysiwyg', 'custom'
    = csrf_meta_tag

  %body
    #top
      = render :partial => 'layouts/navigation_header'

      #bg_wrapper
        #main
          #content
            .jquery_tab
              .content_block
                %h2.jquery_tab_title= content_for(:title)
                = yield

            .jquery_tab
              .content_block
                %h2.jquery_tab_title Inactive tab

        = render :partial => 'layouts/navigation_sidebar'
    #footer
